body
{
    background-image: url(/img/bakgrund.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* background-repeat bestämer om bilden ska repeteras och man kan ta bort den med no-repeat
background-attachment bestämer om backgrunden ska följa med eller inte
background-size bestämmer storleken  */


.gridbox
{
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr 2fr 1fr ; /*1fr 3fr 3fr 3fr 2fr 1fr; */
    grid-template-columns:  3fr 3fr 1fr 3fr 2fr 3fr;
    height: 100vh;
    gap: 10px;
}

/* använd vh enhet i rows för att det blir mindre problem*/
/* sätt en height i css för att kunna använda fractions annars går griden fel */

header
{
    grid-row: 1 / 1;
    grid-column: 2 / 6;
    background-color: rgb(173, 173, 173);
    opacity: 0.6;
}

.bild1
{
    grid-row: 2 / 3 ;
    grid-column: 2 / 5; 
    background-image: url(/img/Beef\ welington1.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 110%;
}

.bild1-holder
{
    background-image: url(/img/Beef\ welington1.webp);
}


.text
{
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    background-color: rgb(173, 173, 173);
    opacity: 0.6;
    border-radius: 15%;
}

.ingridienser
{
    grid-row: 3 / 4;
    grid-column: 2 / 6;
    background-color: rgb(173, 173, 173);
    opacity: 0.6;
    border-radius: 15%;
}

.inside
{
    display: flex; 
    flex-direction: row;
}

.oxfile
{
    border: 3px solid black;
    
}


olja
salt
dijonsenap
champenjoner
timjan
skinka
ägg
vatten
        



.recept
{
    grid-row: 4 / 5;
    grid-column: 5 / 6;
    background-color: rgb(173, 173, 173);
    opacity: 0.9;
    
}

/* recept och ogaboga är beroende för varandra
om recep är bort så beter ogaboga inte som vanligt*/

.ogaboga
{
    grid-row: 4 / 5;
    grid-column: 2 / 6;
    background-color: rgb(173, 173, 173);
    opacity: 0.9;
    border-radius: 10%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

  /*

  overflow-x: hidden;
  horisontelt 
  overflow-y: auto;
  text-align: center;

  auto är från skilnad från overflow:scroll 
  
  overflow är för texter som är för långa, och är en grafik.

  */

.gordon-ramsey
{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
    background-color: rgb(0, 0, 0);
    border-radius: 15%;

}

.gordon-ramsey-holder
{
    background-image: url(/img/gordon\ ramsay.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 90%;
    height: 100%;
    opacity: 1;
}

.sh
{
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

.speciality
{
    background-color: rgb(173, 173, 173);
    opacity: 0.6;
    border-radius: 15%;
}

.hellsKitchen
{
    background-image: url();
}

.bild2
{
    grid-row: 5 / 6;
    grid-column: 4 / 6 ;
    background-image: url(/img/Beef\ welingto2.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;

}

footer
{
    grid-row: 6 / 7;
    grid-column: 2 / 6;
    background-color: rgb(173, 173, 173);
    opacity: 0.6;
}

